<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                🏠<a href="{%url 'home'%}">Home</a>
            </li>
            {%if user.is_authenticated%}
            <li>
                ➕📂<a href="{%url 'category_create'%}">Category create</a>
            </li>
            <li>
                ⚙️📂<a href="{%url 'categories_manage'%}">Categories manage </a>
            </li>
            <li>
                🍎🥦<a href="{%url 'categories'%}">Categories and their products</a>
            </li>
            <li>
                ➕📦<a href="{%url 'product_create'%}">Product create</a>
            </li>
            <li>
                📦<a href="{%url 'all_products'%}">All products</a>
            </li>
            <li>
                🔒🚪<a href="{%url 'logout'%}">Logout</a>
            </li>
            {%else%}
            <li>
                <a href="{%url 'signup'%}">Signup</a>
            </li>
            <li>
                <a href="{%url 'signin'%}">Signin</a>
            </li>
            {%endif%}
        </ul>
    </nav>
    {%block content%}
    {%endblock%}
</body>
</html>