{%extends 'layouts/base.html'%}

{% block title %}All Products{% endblock %}

{%block content%}
<div class="container mt-4">
    <h1 class="mb-4">All products</h1>
    
    {%if products%}
    <div class="list-group">
        {%for product in products%}
        <div class="list-group-item mb-3">
            <h5>{{product.name}}</h5>
            <p><strong>description:</strong> {{product.description}}</p>
            <p><strong>price:</strong> ${{product.price}} (per {{product.unit}})</p>
            <p><strong>stock ({{product.unit}}):</strong> {{product.stock}}</p>
            <p><strong>category:</strong> {{product.category}}</p>

            <a href="{% url 'edit_product' product.id %}" class="btn btn-primary">Edit</a>
        </div>
    {%endfor%}
    </div>
    {%else%}
        <div class="alert alert-info mt-3" role="alert">
            You have no products registered.
        </div>
        
    {%endif%}
</div>
{%endblock%}