<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products by category</title>
</head>
<body>
    {%extends 'layouts/base.html'%}
    {%block content%}
    <h1>Products in "{{ category.name }}"</h1>

    {%if products%}
    <ul>
        {%for product in products%}

        <li>
            <a href="{%url 'edit_product' product.id%}">{{product}}</a>
        </li>
        
        {%endfor%}
    </ul>
    {%else%}
    <p>No products found in this category.</p>
    {%endif%}
    {%endblock%}
</body>
</html>