{%extends 'layouts/base.html'%}

{%block title%}Edit categor{%endblock%}

{%block content%}

    <h1>Edit category</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="POST" class="mb-3">
        {%csrf_token%}
        {{form.as_p}}

        <button class="btn btn-primary">Update</button>
    </form>

    <form action="{%url 'delete_category' category.id%}" method="POST">
        {%csrf_token%}
        <button class="btn btn-danger">Delete</button>
    </form>
{%endblock%}